.prod-title{
    font-weight: bold;
    font-size: larger;

}
.images{
    display:block;
    margin-left:10% ;
    margin-right:10% ;
    margin-top: 10%;
    border: 2px solid #0f0f0f;
    image-resolution: 1000px;
    max-width: 18%; 
    
}
.total{
    text-align:right;
    text-align:center;
    text-align: top;
    margin-bottom: 50px;
    margin-left:.1rem ;
    margin-right:.1rem;
    border: 5px solid #0f0f0f
}